.content_list {
  padding-left: 15px;
}

.book_item li {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(28, 31, 33, 0.1);
  margin-bottom: 26px;
}

/* 这里是blog list的样式*/

.home_guesslike_list {
  margin: 0px !important; 
  width: 100% !important;
  padding: 0px !important;
  box-shadow:none !important;
}
.op_artie_content {
    margin-right: 20px;
}

.op_artie_content ul {
  padding-left: 0px !important;
  display: flex !important;
  align-items: center !important;
  margin-bottom:15px !important;
  margin-top:10px !important;
}

 .op_artie_content .article_title {
  color: #333;
  font-weight: 600;
}

.op_pratice_describ {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
}
 
  .pratice_icon_view {
    background-image: url('~/assets/img/pratice_icon_view.png');
    height: 26px;
    width: 26px;
    display: block;
  }
  
  .pratice_icon_comment {
    background-image: url('~/assets/img/pratice_icon_comment.png');
    height: 26px;
    width: 26px;
    display: block;
    margin-left: 50px;
  }
  .icon_des {
     padding-left:10px;
  }
  
  .pratice_icon_zhan {
    background-image: url('~/assets/img/pratice_icon_zhan.png');
    height: 26px;
    width: 26px;
    display: block;
    margin-left: 50px;
  }

/* 这里是专题的样式 */
  .book_item li .img {
    width: 138px;
    height: 157px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .book_item li:hover .img {
    transition: all 0.5s 0.2s;
    -moz-transition: all 0.5s 0.2s;
    -webkit-transition: all 0.5s 0.2s;
    -o-transition: all 0.5s 0.2s;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .book_item li .text_con {
    width: 75%;
    padding: 0 0 16px 0;
    font-size: 0;
  }
  
  .book_item li .text_con .title {
    font-weight: 700;
    font-size: 20px;
    color: #1c1f21;
    line-height: 24px;
    text-align: left;
    margin-bottom: 12px;
    margin-top: 4px;
  }
  .book_item li .text_con .info {
    display: inline-block;
    margin-bottom: 14px;
    vertical-align: top;
  }
  .book_item li .text_con .info .img_point{
    margin-left:5px;
  } 
  .book_item li .text_con .desc {
    font-size: 14px;
    color: #545c63;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    margin-bottom: 18px;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .book_item li .text_con .info {
    display: inline-block;
    margin-bottom: 14px;
    vertical-align: top;
  }
  
  .book_item li .text_con .info i {
    padding: 0 8px;
    font-size: 12px;
    color: #9199a1;
    text-align: left;
    line-height: 14px;
  }

  .book_item .cleartopicfix {
  display: block;
  height: 1%;
  zoom: 1;
}

.book_item .cleartopicfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

[class^="imv2-"],
[class*=" imv2-"] {
  font-family: "imv2" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book_item li .text_con .try-read-box {
  margin-bottom: 12px;
}
.book_item li .text_con .try-read-box .try-read-item {
  width: 290px;
  height: 20px;
  margin-right: 10px;
  font-size: 0;
  display: inline-block;
  margin-bottom: 8px;
}
.book_item li .text_con .try-read-box .try-read-item .try-read-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  background: url(https://www.imooc.com/static/img/column/try-read-img_new_2x.png);
  background-repeat: no-repeat;
  background-size: 34px auto;
  background-position: center;
  width: 30px;
  height: 20px;
}
.book_item li .text_con .try-read-box .try-read-item .try-read-title {
  display: inline-block;
  font-size: 12px;
  color: #545c63;
  text-align: left;
  line-height: 16px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.book_item li .text_con .author-box {
  display: inline-block;
  font-size: 0;
}
.book_item li .text_con .author-box .author-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  display: inline-block;
  vertical-align: middle;
}

.book_item li .text_con .author-box .author-name {
  margin: 0 8px 0 12px;
  font-size: 14px;
  text-align: left;
  line-height: 36px;
  font-weight: 700;
}
.book_item li .text_con .author-box span {
  font-size: 12px;
  color: #1c1f21;
  vertical-align: middle;
}
.book_item li .text_con .author-box .author-title {
  font-size: 12px;
  text-align: left;
  line-height: 36px;
  margin-left: 8px;
}

.book_item li .text_con .price_con .sale-price .ori {
  font-size: 12px;
  color: #9199a1;
  text-align: left;
  line-height: 36px;
  text-decoration: line-through;
}
.book_item li .text_con .price_con .sale-price .sale {
  font-weight: 700;
  font-size: 18px;
  color: #37f;
  text-align: left;
  line-height: 36px;
  margin-right: 8px;
}
.countdown .name {
  color: #fff;
  line-height: 16px;
  height: 20px;
  background-image: linear-gradient(90deg, #37f 0, #74ccff 99%);
  padding: 2px 6px;
  font-size: 12px;
}
.countdown .clock {
  color: #545c63;
  display: inline-block;
  margin-left: 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
.book_item li .text_con .info span {
  font-size: 12px;
  color: #9199a1;
  text-align: left;
  line-height: 14px;
}
.book_item li .text_con .author-box {
  display: inline-block;
  font-size: 0;
}
.book_item li .text_con .price_con {
  display: inline-block;
  min-height: 56px;
  margin-right: 10px;
}