@charset "utf-8";

.course-index-title {
  margin-top: 6px;
  margin-bottom: 4px;
}
.course-index-title .course-title-content {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding-top: 5px;
}

.course-index-title .course-index-tag {
  height: 20px;
  font-size: 12px;
  display: inline-block;
  padding: 0 4px;
  margin-right: 6px;
  color: #fff;
  border-radius: 3px;
  background: rgba(255, 63, 41, 0.8);
}

.jgAttr {
  font-size: 14px;
}

.buy-info {
  margin-top: 2px;
  height: 35px;
  position: relative;
  margin-bottom: 3px;
}

.buy-info_left {
  overflow: hidden;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.buy-info_right {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 6px;
}

.buy-info_right .price {
  display: inline-block;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  color: #ff1d00;
}

.buy-info_right .price .yan {
  font-size: 12px;
}

.buy-info_left .buy-count {
  color: #818a92;
  font-weight: 300;
}
.course-info-detail {
  border-bottom: 0.5px solid rgba(153, 153, 153, 0.2);
  height: 30px;
}

.cc-l-wrap h3 {
  color: #404040;
  font-weight: bold;
}
