.mark_content h1,h2,h3,h4,h5 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 550;
  color: #404040;
  font-weight: bold;
}
.mark_content p,dl {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
}
.mark_content h1 {
  font-size: 42px;
  line-height: 54px;
}
.mark_content h2 {
  font-size: 32px;
  line-height: 42px;
}
.mark_content h3 {
  font-size: 26px;
  line-height: 30px;
}
.mark_content h4 {
  font-size: 21px;
  line-height: 26px;
}
.mark_content h5 {
  font-size: 16px;
  line-height: 23px;
}
.mark_content a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.mark_content a:hover {
  text-decoration: none;
  color: #ff6600;
}
.mark_content a:visited {
  /*color: purple;*/
}
.mark_content ul,ol {
  padding: 0;
  padding-left: 24px;
  margin: 0;
}
.mark_content li {
  line-height: 24px;
}
.mark_content p,ul,ol {
  font-size: 16px;
  line-height: 24px;
}

.mark_content ol ol,ul ol {
  list-style-type: lower-roman;
}

.mark_content code,pre {
  border-radius: 3px;
  background-color: #f7f7f7;
  color: inherit;
}

.mark_content code {
  margin: 0 2px;
  font-family: 'Courier New', sans-serif !important;
  font-size: 12px !important;
  line-height: 20px;
  background-color: #f5f5f5 !important;
  padding: 0 5px !important;
  border-radius: 3px !important;
  line-height: 1.8;
  margin: 1px 5px;
  vertical-align: middle;
  display: inline-block;
  overflow-x: auto;
  color: #333;
}

.mark_content pre {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  line-height: 1.7em;
  overflow: auto;
  padding: 6px 10px;
  border-left: 3px solid #f56c6c;
}

.mark_content img {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 90%;
  height: auto;
}