@charset "utf-8";

.setting-content {
    display: table;
    margin-bottom: 20px;
  }

.right-content {
    display: table-cell;
    background: #fff;
  }

.lefte_content {
    display: table-cell;
    background: #fff;
}

.middle_content {
    display: table-cell;
    background:#f6f6f6;
}

.middle_content .sprate {
    width: 10px;
}

.setting-lefte-menu {
    box-sizing: border-box;
    width: 240px;
    min-height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.setting-menu-item {
    color: #4e5969;
    cursor: pointer;
}

.setting-menu-item.active .nav-item .svg .close-path {
    fill: #409eff;
}
  
.setting-menu-item.active {
    background: #e8f3ff;
    color: #409eff;
}

.setting-menu-item .nav-item .svg .close-path {
    fill: #86909c;
}

.setting-menu-item .nav-item {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 48px;
    font-size: 16px;
  }

  .setting-menu-item .nav-item.authority-mode {
    margin-left: 50px;
  }

.person-setting {
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    background: #fff;
    width: 880px;
    min-height: 686px;
    padding-bottom: 20px;
}

.person-setting .nav-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #333;
    margin-bottom: 20px;
    width: 260px;
    display: inline-block;
}

.person-setting .user-infos {
    display: flex;
}

.person-setting .user-infos .info-input {
    min-width: 240px;
    width: calc(100% - 340px);
}

.person-setting .user-infos .info-input .divide {
    margin-left: 12px;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 100%;
    border-top: 1px solid #eaeaea;
}

.person-setting.user-infos .info-input .form .byte-form-item {
    margin-bottom: 13px;
    white-space: nowrap;
}

.person-setting .user-infos .info-input .form .byte-form-item__label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    margin-left: 20px;
    margin-right: 30px;
    display: inline-block;
    text-align: left;
    padding-right: 0;
    float: left;
    line-height: 32px;
}

.person-setting .user-infos .info-input .input .byte-input__suffix {
    width: 50px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 1.5;
}

.person-setting .user-infos .info-input .input .suffix {
    font-size: 12px;
    color: #86909c;
}

.person-setting .user-infos .info-input .input {
    max-width: 380px;
    min-width: 100px;
}

.person-setting .user-infos .info-input .byte-input__textarea {
    height: 140px;
    min-height: 30px;
    color: #666;
    background: #fafafa;
    font-size: 12px;
}



.person-setting .user-infos .info-input.zhanghu-setting {
    min-width: 240px;
    width: calc(100% - 100px);
}